<aside class="sidebar sidebar-right">
    <div class="sidebar-section" id="relatedVersesSection">
        <h3>Versículos relacionados</h3>
        <ul id="relatedVersesList" class="verse-list">
            <li class="empty-msg">Busca un versículo para ver sugerencias.</li>
        </ul>
    </div>
</aside>
